<div ng-controller="GoodsDislikesCtrl as vm" ng-init="vm.getJSON();" >
		<div class="card col-xs-3" ng-repeat="good in vm.goods | filter: vm.isdisliked">
		  <figure>
		  	<img class="card-img-top" src="{{ good.cover}}" alt="Card image cap">	
		  </figure>
		  <div class="card-block">
		    <h4 class="card-title"><a ui-sref="goods.item({id:good.id,good:good})">{{good.title}}</a></h4>
		    <p class="card-text">{{good.desc | limitTo:100}}</p>
		    <p>Дизлайков: {{good.dislikes}}</p>
		    <a ng-click="vm.like(good.id)" class="btn btn-primary">Лайк {{good.likes}}</a>
		  </div>
		</div>
</div>